* {
  font-family: arial;
}

#examples {
  font-size: 8pt;
}

#examples span {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

#jsonSource {
  width: 600px;
  height: 100px;
}

/* Put a border around child of svgOutput - i.e. around the <svg> element. */
#svgOutput * {
  border: 1px solid black;
}

#svgSource {
  font-family: monospace;
  width: 600px;
  height: 200px;
  border: 1px solid black;
  overflow: auto;
}

